.experiencia {
    padding: 1rem 1.6rem;
    font-size: 0.875rem;
}

.experiencia__item {
    display: flex;
    flex-direction: column;
}

.experiencia__resumo {
    display: flex;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

.experiencia__resumo img {
    width: 3rem;
    height: 3rem;
}

.experiencia__resumo>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experiencia__resumo>div>p{
    font-weight: 600;
    font-size: 16px;
}

.experiencia__resumo>div>span{
    color: var(--texto-secundario);
}

li.experiencia__cargo {
    position: relative;
    left: 54px;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

li.experiencia__cargo h3{
    font-size: 16px;
    font-weight: 600;
}

li.experiencia__cargo span{
    font-size: 14px;
    color: var(--texto-secundario);
}

li.experiencia__cargo .experiencia__tipo{
    color: var(--texto-principal);
}

li.experiencia__cargo::before, li.experiencia__cargo::after{
    content: "";
    position: absolute;
    transform: translate(-35px, 50%);
}

li.experiencia__cargo::before{
    background-color: var(--texto-principal);
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

li.experiencia__cargo::after{
    background-color: var(--texto-secundario);
    left: 4px;
    top: -5%;
    width: 1px;
    height: 48px;
}

li.experiencia__cargo:not(:last-child){
    margin-bottom: 0.5rem;
}